<a href="https://colab.research.google.com/github/prithsha/erav2/blob/main/ERA_V2_S3_Python_101_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Good Morning")

Good Morning

In [2]:
print("Good \
Morning")

Good Morning

In [3]:
a = [1, "red", "r", 3 + 4j, [3, 4, 'a']]

In [4]:
a = [1,
     "red",
     "r",
     3 + 4j,
     [3, 4, 'a']
     ]

In [5]:
a

[1, 'red', 'r', (3+4j), [3, 4, 'a']]

In [8]:
a = "This is a very long string that I am writing about the cup \
I might get soon which might be full of amazing coffee, and it might be hot as well"

a

'This is a very long string that I am writing about the cup I might get soon which might be full of amazing coffee, and it might be hot as well'

In [9]:
a = [1, # this is serial number ,
     "red", # this is the color
     "r", # this is initial of the code
     3 + 4j,
     [3, 4, 'a']
     ]

In [10]:
l = [1, "rohan", 3.4, 4 + 5j] # a LIST
t = (1, "rohan", 3.4, 4 + 5j) # a tuple
s = {1, "rohan", 3.4, 4 + 5j} # a SET
d = {"key1": 1, 3: "rohan", 4: 3.4, "key2": 4 + 5j} # DICTOINARY

In [11]:
l, t, s, d

([1, 'rohan', 3.4, (4+5j)],
 (1, 'rohan', 3.4, (4+5j)),
 {(4+5j), 1, 3.4, 'rohan'},
 {'key1': 1, 3: 'rohan', 4: 3.4, 'key2': (4+5j)})

In [12]:
l[0], t[0]

(1, 1)

In [13]:
l[0] = 10
l

[10, 'rohan', 3.4, (4+5j)]

In [14]:
t[0] = 10
t

TypeError: 'tuple' object does not support item assignment

In [15]:
t[0], l[0], s[0]

TypeError: 'set' object is not subscriptable

In [16]:
s = {1, 1, 1, 1, 1}

In [17]:
s

{1}

In [18]:
s = {1, 1, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, "red", "red", "blue"}
s

{1, 2, 3, 4, 'blue', 'red'}

In [19]:
d = {"key1": 1, 3: "rohan", 4: 3.4, "key2": 4 + 5j} # DICTOINARY
d["key1"], d[3]

(1, 'rohan')

In [20]:
def myFunc():
  print("THis is our first fuinction")

myFunc()

THis is our first fuinction

In [21]:
myFunc

In [22]:
print

In [23]:
def my_func(a, b):
  c = a + b
  return c
my_func(1, 4)

5

In [24]:
def my_func(a, b):
  c = a + b
  return c
my_func(1.5, "4")

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [25]:
def my_func(a, b):
  c = a * b
  return c
my_func(3, "4")

'444'

In [26]:
c

NameError: name 'c' is not defined

In [27]:
def my_func(a, b):
  print("This is a session:", a, ".", b)

my_func("3")

TypeError: my_func() missing 1 required positional argument: 'b'

In [28]:
def my_func(a , b = "5"):
  print("This is a session:", a, ".", b)

my_func( 4)

This is a session: 4 . 5

In [29]:
def func(a, b, d, c = 0):
  print(a, b, d, c)

func(1, 2, 3, 4)

1 2 3 4

In [30]:
a = 10
b = -2
c = 30

if a > 5 and b < 0 or c > 100:
    print(f"Yes {a} {c + b}")

Yes 10 28

In [31]:
if 4 > 2:
  print("yeah")

yeah

In [32]:
if a > 5 \
  and b < 0 \
  or c > 100:
  print(f"Yes {a} {c + b}")

Yes 10 28

In [33]:
a = 10
b = 4

print("A: ", a, "B: ", b)

A:  10 B:  4

In [34]:
print(f"A: {a*a}, B: {b + a*b}")

A: 100, B: 44

In [35]:
a = "This is one of the lines taken from Shashi Tharoors interview. \
He said, that one the democracy is hindered for its progress by the \
rightist movements and their jabs at the structure of the secularism,\
then it becomes very difficult to beat them at the democratic\
electctions becuase now people are infused with the ideas that have \
no relation to their earnings or finances, but the whims and fan\
cies of what they believe to be true..."

In [36]:
print(a)

This is one of the lines taken from Shashi Tharoors interview. He said, that one the democracy is hindered for its progress by the rightist movements and their jabs at the structure of the secularism,then it becomes very difficult to beat them at the democraticelectctions becuase now people are infused with the ideas that have no relation to their earnings or finances, but the whims and fancies of what they believe to be true...

In [37]:
"""This is one of the lines taken from Shashi Tharoors interview.
He said, that one the democracy is hindered for its progress by the
rightist movements and their jabs at the structure of the secularism,
then it becomes very difficult to beat them at the democratic
electctions becuase now people are infused with the ideas that have no
relation to their earnings or finances, but the whims and fancies of
what they believe to be true..."""

'This is one of the lines taken from Shashi Tharoors interview.\nHe said, that one the democracy is hindered for its progress by the\nrightist movements and their jabs at the structure of the secularism,\nthen it becomes very difficult to beat them at the democratic\nelectctions becuase now people are infused with the ideas that have no\nrelation to their earnings or finances, but the whims and fancies of\nwhat they believe to be true...'

In [38]:
a = """This is one of the lines taken from Shashi Tharoors interview.
He said, that one the democracy is hindered for its progress by the
rightist movements and their jabs at the structure of the secularism,
then it becomes very difficult to beat them at the democratic
electctions becuase now people are infused with the ideas that have no
relation to their earnings or finances, but the whims and fancies of
what they believe to be true..."""

In [39]:
a

'This is one of the lines taken from Shashi Tharoors interview.\nHe said, that one the democracy is hindered for its progress by the\nrightist movements and their jabs at the structure of the secularism,\nthen it becomes very difficult to beat them at the democratic\nelectctions becuase now people are infused with the ideas that have no\nrelation to their earnings or finances, but the whims and fancies of\nwhat they believe to be true...'

# CONTIDIONALS

In [40]:
# if, else, elif, ternary

a = 4
if a < 3:
  print("a<3")
else:
  print("a>3")

a>3

In [43]:
a = 15000

if a < 5:
  print("Lets sit at home")
else:
  if a > 10000:
    print("I may go with you as I am in a good mood")
  else:
    print("I will just watch movie at home")

I may go with you as I am in a good mood

In [42]:
a = 15

if a < 5:
  print("a is less than 5")
elif a < 10:
  print(" a is more than 5 but less than 10")
else:
  print("a is more than 10")

a is more than 10

In [45]:
def say_hello():
  print("hello")

def say_goodbye():
  print("goodbye")

time = 6

say_hello() if time < 5 else say_goodbye()
# DOTHIS IF CONTIDION=TRUE ELSE DOTHISINSTEAD

goodbye

In [46]:
s = [1, 2, 3]

len(s), s[0]

(3, 1)

In [47]:
s[0], s[2], s[-1], s[-2]

(1, 3, 3, 2)

In [48]:
len, print

(<function len(obj, /)>, <function print>)

In [49]:
sqrt(4)

NameError: name 'sqrt' is not defined

In [50]:
from math import sqrt

sqrt(4)

2.0

In [51]:
math.exp(4)

NameError: name 'math' is not defined

In [52]:
import math

math.cos(0)

1.0

In [53]:
dir()

['In',
 'Out',
 '_',
 '_11',
 '_12',
 '_13',
 '_17',
 '_18',
 '_19',
 '_21',
 '_22',
 '_23',
 '_25',
 '_37',
 '_39',
 '_46',
 '_47',
 '_48',
 '_5',
 '_50',
 '_52',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'c',
 'd',
 'exit',
 'func',
 'get_ipython',
 'l',
 'math',
 'myFunc',
 'my_func',
 'open',
 'quit',
 's',
 'say_goodbye',
 'say_hello',
 'sqrt',
 't',
 'time']

In [54]:
math.sin(45), dir()

(0.8509035245341184,
 ['In',
  'Out',
  '_',
  '_11',
  '_12',
  '_13',
  '_17',
  '_18',
  '_19',
  '_21',
  '_22',
  '_23',
  '_25',
  '_37',
  '_39',
  '_46',
  '_47',
  '_48',
  '_5',
  '_50',
  '_52',
  '_53',
  '_8',
  '__',
  '___',
  '__builtin__',
  '__builtins__',
  '__doc__',
  '__loader__',
  '__name__',
  '__package__',
  '__spec__',
  '__vsc_ipynb_file__',
  '_dh',
  '_i',
  '_i1',
  '_i10',
  '_i11',
  '_i12',
  '_i13',
  '_i14',
  '_i15',
  '_i16',
  '_i17',
  '_i18',
  '_i19',
  '_i2',
  '_i20',
  '_i21',
  '_i22',
  '_i23',
  '_i24',
  '_i25',
  '_i26',
  '_i27',
  '_i28',
  '_i29',
  '_i3',
  '_i30',
  '_i31',
  '_i32',
  '_i33',
  '_i34',
  '_i35',
  '_i36',
  '_i37',
  '_i38',
  '_i39',
  '_i4',
  '_i40',
  '_i41',
  '_i42',
  '_i43',
  '_i44',
  '_i45',
  '_i46',
  '_i47',
  '_i48',
  '_i49',
  '_i5',
  '_i50',
  '_i51',
  '_i52',
  '_i53',
  '_i54',
  '_i6',
  '_i7',
  '_i8',
  '_i9',
  '_ih',
  '_ii',
  '_iii',
  '_oh',
  'a',
  'b',
  'c',
  'd',
  'exit',
  'func',
  'get_ipython',
  'l',
  'math',
  'myFunc',
  'my_func',
  'open',
  'quit',
  's',
  'say_goodbye',
  'say_hello',
  'sqrt',
  't',
  'time'])

In [55]:
cc = "organge"
dd = "organge"
ee = "organge"

In [56]:
id(a)

1349196093072

In [57]:
id(cc), id(dd), id(ee)

(1349193761648, 1349193761648, 1349193761648)

In [58]:
id(1)

1349115314416

In [72]:
g = 1
print(id(g))

g=255
print(id(g))

g=256
print(id(g))

g=255
print(id(g))

g=256
print(id(g))

1349115314416
1349115322544
1349115322576
1349115322544
1349115322576

In [74]:
del cc, dd, ee

NameError: name 'cc' is not defined

In [75]:
cc

NameError: name 'cc' is not defined

In [76]:
kk = "organge"
id(kk)

1349193631920

In [77]:
p = 147
print(id(p))
del p
u = 147
print(id(u))

1349115319088
1349115319088

In [79]:
def new_func(rr):
  rr = 45

rr = 33
new_func(rr)
print(rr)

33

In [81]:
# lambda

def mouse1(a, b):
  return a* b

mouse2 = lambda a, b : a * b

mouse1(1, 2), mouse2(1, 2)

(2, 2)

In [82]:
lambda a, b : a * b

In [83]:
def newnew(a, b):
  red = lambda a, b : a * b
  return red(a, b)

newnew(3, 4)

12

In [84]:
red = lambda f, g:  f * g
def new3(a, blue):
  return blue(a, 3)
new3(4, red)

12

In [86]:
adder = lambda f, g:  f + g
subtractor = lambda f, g:  f - g
divider = lambda f, g:  f / g
multiplier = lambda f, g:  f * g
def new3(a, any_func):
  if a == 1:
    return adder(a, 3)
  elif a == 2:
    return subtractor(a, 3)
  elif a == 3:
    return divider(a, 3)
print(new3(2, adder))

-1

In [87]:
adder = lambda f, g:  f + g
subtractor = lambda f, g:  f - g
divider = lambda f, g:  f / g
multiplier = lambda f, g:  f * g

def new3(a, any_func):
  return any_func(a, 4)
print(new3(2, multiplier))

8

In [88]:
i = 0

while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [89]:
while True:
  print("something")
  break

something

In [90]:
a = 10
b = 0

a / b

ZeroDivisionError: division by zero

In [95]:
a = 10
b = 10

try:
  a/b
  print("works")
except ZeroDivisionError:
  print("b was 0 dude!")
finally:
  print("I will always work")

works
I will always work

In [94]:
a = 10
b = 0

try:
  a/b
  print("works")
except ZeroDivisionError:
  print("b was 0 dude!")

b was 0 dude!

In [96]:
a = 10
b = 0

try:
  a/b
  print("works")
except ZeroDivisionError:
  print("b was 0 dude!")
finally:
  print("I will always work")

b was 0 dude!
I will always work

In [98]:
a = 0
b = 2

while a < 3:
    print("____________________")
    a += 1 # a = a + 1
    b -= 1
    try:
        res = a / b
    except ZeroDivisionError:
        print(f'a = {a}, b = {b} - division by 0 ZDE Step')
        res = 0
        continue
    finally:
        print(f'a = {a}, b = {b} - Finally Step')
    print(f'a = {a}, b = {b} - main loop')

____________________
a = 1, b = 1 - Finally Step
a = 1, b = 1 - main loop
____________________
a = 2, b = 0 - division by 0 ZDE Step
a = 2, b = 0 - Finally Step
____________________
a = 3, b = -1 - Finally Step
a = 3, b = -1 - main loop

In [ ]:
range(10)

range(0, 10)

for(i = 0; i <10 ; i++)

In [99]:
l = [1, 2, 3, 4, 8, "red"]
t = ("red", "green", "blue", 45)
r = range(10)

for x in l:
  print(x)

1
2
3
4
8
red

In [100]:
for x in t:
  print(x)

red
green
blue
45

In [101]:
for x in r:
  print(x)

0
1
2
3
4
5
6
7
8
9

In [102]:
for x in range(len(l)):
  print(x)

0
1
2
3
4
5

In [104]:
for num, data in enumerate(l):
  print(f'at {num} we have {data}')

at 0 we have 1
at 1 we have 2
at 2 we have 3
at 3 we have 4
at 4 we have 8
at 5 we have red

In [105]:
t = (45, 55)
a1 = t[0]
a2 = t[1]
a1, a2

(45, 55)

In [106]:
a1, a2 = (45, 55)
a1, a2

(45, 55)

In [107]:
class Rectangle:
    def __init__(self, w, h):
        self.widht = w
        self.height = h
        print(id(self))

r1 = Rectangle(3, 4)
r2 = Rectangle(30, 40)

r1.widht, r2.height

1349194981264
1349195002592

(3, 40)

In [108]:
class Rectangle:
    def __init__(rohan, w, h):
        rohan.widht = w
        rohan.height = h
        print(id(rohan))

r1 = Rectangle(3, 4)
r2 = Rectangle(30, 40)

r1.widht, r2.height, id(r1), id(r2)

1349213691120
1349194981312

(3, 40, 1349213691120, 1349194981312)

In [111]:
class Rectangle:
    def __init__(rohan, w, h):
        rohan.widht = w
        rohan.height = h
        print(id(rohan))

r1 = Rectangle(3, 4)
r2 = Rectangle(30, 40)

r1.widht, r2.height

1349213414032
1349213693664

(3, 40)

In [112]:
class Rectangle():
    def __init__ (self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

    def perimeter(self):
        return 2 *  ( self.width + self.height)

In [113]:
r1 = Rectangle(10, 20)
r1.area()

200

In [114]:
help(Rectangle)

Help on class Rectangle in module __main__:

class Rectangle(builtins.object)
 |  Rectangle(width, height)
 |
 |  Methods defined here:
 |
 |  __init__(self, width, height)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  area(self)
 |
 |  perimeter(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [115]:
r1

In [116]:
class Rectangle:
    def __init__ (self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

    def perimeter(self):
        return 2 *  ( self.width + self.height)

    def __str__(self):
        return "This is a rectangle stored at: " + str(id(self))

r1 = Rectangle(10, 20)
r1.__str__()

'This is a rectangle stored at: 1349193317008'

In [117]:
help(Rectangle)

Help on class Rectangle in module __main__:

class Rectangle(builtins.object)
 |  Rectangle(width, height)
 |
 |  Methods defined here:
 |
 |  __init__(self, width, height)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  area(self)
 |
 |  perimeter(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [ ]:
dir(r1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'area',
 'height',
 'perimeter',
 'width']

In [118]:
4 == 5

False

In [119]:
type(4)

int

In [120]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [121]:
class Rectangle:
    def __init__ (self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

    def perimeter(self):
        return 2 *  ( self.width + self.height)

    def __repr__(self):
        return "This is a rectangle stored at: " + str(id(self))

r1 = Rectangle(10, 20)
r1

This is a rectangle stored at: 1349195334800

In [122]:
class Rectangle:
    def __init__ (self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

    def perimeter(self):
        return 2 *  ( self.width + self.height)

    def __str__(self):
        return "This is rectangle stored: " + str(id(self))

    def __eq__(self, other):
        print(f'self={self}, other={other}')
        if isinstance(other, Rectangle):
            return (self.width, self.height) == (other.width, other.height)
        else:
            return False
r1 = Rectangle(10, 20)
r2 = Rectangle(1, 2)

r1 == r2, r2 < r1

self=This is rectangle stored: 1349212958928, other=This is rectangle stored: 1349213590512

TypeError: '<' not supported between instances of 'Rectangle' and 'Rectangle'

In [ ]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

    def perimeter(self):
        return 2 * (self.width + self.height)

    def __str__(self):
        return 'Rectangle (width={0}, height={1})'.format(self.width, self.height)

    def __repr__(self):
        return 'Rectangle({0}, {1})'.format(self.width, self.height)

    def __eq__(self, other):
        if isinstance(other, Rectangle):
            return (self.width, self.height) == (other.width, other.height)
        else:
            return False

    def __lt__(self, other):
        if isinstance(other, Rectangle):
            return self.area() < other.area()
        else:
            return NotImplemented

r1 = Rectangle(100, 200)
r2 = Rectangle(10, 20)
r1 < r2

False

In [123]:
r1.__ge__(r2)

NotImplemented

In [124]:
dir(r1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'area',
 'height',
 'perimeter',
 'width']

In [125]:
dataSet = ["bat", "dog", "cat", "bat", "dog", "cow", "bat", "dog", "dog", "cow", "cow", "cow", "cow", "car", "bat", "dog", "car", "car", "cat", "dog", "cat", "dog", "bat", "cat", "car", "car", "dog", "cat", "cow", "cow", "cow", "cow", "cow", "car", "cat", "car", "cat", "cat", "bat", "dog", "bat", "bat", "car", "dog", "dog", "cow", "dog", "cow", "dog", "bat", "cow", "dog", "bat", "dog", "bat", "cow", "bat", "bat", "car", "bat", "car", "bat", "cat", "bat", "cat", "car", "cow", "car", "bat", "dog", "dog", "cat", "cat", "car", "cow", "car", "cow", "cat", "cat", "cat", "cow", "bat", "cat", "car", "cat", "bat", "cat", "car", "cow", "car", "dog", "dog", "dog", "car", "bat", "bat", "car", "car", "dog", "car", "car", "cow", "car", "cow", "dog", "bat", "cow", "bat", "bat", "car", "dog", "cat", "car", "car", "dog", "dog", "cow", "cow", "cat", "cat", "cat", "bat", "dog", "cat", "bat", "cat", "cat", "cow", "cow", "cat"]
label = [1,2,0,1,2,3,1,2,2,3,3,3,3,4,1,2,4,4,0,2,0,2,1,0,4,4,2,0,3,3,3,3,3,4,0,4,0,0,1,2,1,1,4,2,2,3,2,3,2,1,3,2,1,2,1,3,1,1,4,1,4,1,0,1,0,4,3,4,1,2,2,0,0,4,3,4,3,0,0,0,3,1,0,4,0,1,0,4,3,4,2,2,2,4,1,1,4,4,2,4,4,3,4,3,2,1,3,1,1,4,2,0,4,4,2,2,3,3,0,0,0,1,2,0,1,0,0,3,3,0]

class Animals:
  def __init__(self, dataSet, label):
    self.dataSet = dataSet
    self.label = label

  def __len__(self):
    return len(self.dataSet)

animal = Animals(dataSet, label)
len(animal), animal.__len__()

(130, 130)

In [127]:
class Animals:
  def __init__(self, dataSet, label):
    self.dataSet = dataSet
    self.label = label

  def __len__(self):
    return len(self.dataSet)

  def __getitem__(self, index):
    return dataSet[index], label[index]

animal = Animals(dataSet, label)

animal.__getitem__(3)

('bat', 1)

In [128]:
for a in animal:
  print(a)

('bat', 1)
('dog', 2)
('cat', 0)
('bat', 1)
('dog', 2)
('cow', 3)
('bat', 1)
('dog', 2)
('dog', 2)
('cow', 3)
('cow', 3)
('cow', 3)
('cow', 3)
('car', 4)
('bat', 1)
('dog', 2)
('car', 4)
('car', 4)
('cat', 0)
('dog', 2)
('cat', 0)
('dog', 2)
('bat', 1)
('cat', 0)
('car', 4)
('car', 4)
('dog', 2)
('cat', 0)
('cow', 3)
('cow', 3)
('cow', 3)
('cow', 3)
('cow', 3)
('car', 4)
('cat', 0)
('car', 4)
('cat', 0)
('cat', 0)
('bat', 1)
('dog', 2)
('bat', 1)
('bat', 1)
('car', 4)
('dog', 2)
('dog', 2)
('cow', 3)
('dog', 2)
('cow', 3)
('dog', 2)
('bat', 1)
('cow', 3)
('dog', 2)
('bat', 1)
('dog', 2)
('bat', 1)
('cow', 3)
('bat', 1)
('bat', 1)
('car', 4)
('bat', 1)
('car', 4)
('bat', 1)
('cat', 0)
('bat', 1)
('cat', 0)
('car', 4)
('cow', 3)
('car', 4)
('bat', 1)
('dog', 2)
('dog', 2)
('cat', 0)
('cat', 0)
('car', 4)
('cow', 3)
('car', 4)
('cow', 3)
('cat', 0)
('cat', 0)
('cat', 0)
('cow', 3)
('bat', 1)
('cat', 0)
('car', 4)
('cat', 0)
('bat', 1)
('cat', 0)
('car', 4)
('cow', 3)
('car', 4)
('dog', 2)
('dog', 2)
('dog', 2)
('car', 4)
('bat', 1)
('bat', 1)
('car', 4)
('car', 4)
('dog', 2)
('car', 4)
('car', 4)
('cow', 3)
('car', 4)
('cow', 3)
('dog', 2)
('bat', 1)
('cow', 3)
('bat', 1)
('bat', 1)
('car', 4)
('dog', 2)
('cat', 0)
('car', 4)
('car', 4)
('dog', 2)
('dog', 2)
('cow', 3)
('cow', 3)
('cat', 0)
('cat', 0)
('cat', 0)
('bat', 1)
('dog', 2)
('cat', 0)
('bat', 1)
('cat', 0)
('cat', 0)
('cow', 3)
('cow', 3)
('cat', 0)

In [133]:
import torch
from torch.utils.data import Dataset, DataLoader

class MyDataset(Dataset):
  def __init__(self, dataSet, label):
    self.dataSet = dataSet
    self.label = label

  def __len__(self):
    return len(self.dataSet)

  def __getitem__(self, index):
    return self.dataSet[index], self.label[index]


dataset = MyDataset(dataSet, label)

In [132]:
mydataloader = DataLoader(dataset, batch_size = 8, shuffle = True)

In [135]:
for x, y in mydataloader:
  print(x, y)
  break

('car', 'car', 'bat', 'car', 'bat', 'car', 'car', 'dog') tensor([4, 4, 1, 4, 1, 4, 4, 2])